
        .header {
            margin: 10px auto;
            width: 80%;
            margin-bottom: 30px;


        }

        #find {
            width: 50px;
            height: 30px;
            background-color: azure;
            border-radius: 10px;
        }

        .header input {
            border-radius: 10px;
            border: 1px solid #fff;
            height: 30px;

        }

        buttton {
            border: 2px solid #ccc;
            height: 30px;
            width: 30px;

        }

        .context {
            margin: 10px auto;
            border-right-color: aqua;
            500px;
            width: 80%;
            color: aliceblue;
        }

        .footer {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(100, 100, 100, 0.7);
            display: none;
            height: 100%;
            width: 100%;
        }

        .text1 {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            height: 300px;
            width: 600px;
            background-color: #cffffc;
            border-radius: 20px;
            padding: 20px;
        }

        #build {
            position: absolute;
            right: 40px;
            bottom: 40px;
            border-radius: 10px;
            height: 40px;
            width: 60px;
            border: 3px solid #cffcfc;
            background-color: #cfcfff;

        }

        .Oinpt {
            border-radius: 10px;
            border: 1px solid #cfcfff;
            height: 30px;
            margin: 20px;
        }

        #table1 {
            border: 1px solid rgb(000, 124, 135);
            width: 80%;
            text-align: center;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        #table1 th {
            font-size: 1.5vw;
            font-weight: bold;
            color: mediumpurple;
        }

        #table1 tr td button {
            border-radius: 30px;
            height: 20px;
            width: 50px;
            border: 1px solid rgb(84, 93, 129);
            background-color: burlywood;

        }

        #add {
            border-radius: 10px;
            height: 30px;
            width: 70px;
            border: 1px solid rgb(190, 179, 145);
            background-color: rgb(116, 143, 119);
            margin-left: 73%;
            margin-top: 10px;
        }

        .findout {
            color: red;
            background-color: #fff;
        }

        h1 {
            text-align: center;
            font-size: 5vw;
            margin: 50px;
            font-family: cursive;
            color: rgb(197, 199, 170);

        }

        #close {
            position: absolute;
            font-size: 30px;
            border: 0;
            background: none;
            color: #000;
            top: 10px;
            right: 30px;
        }